body{
    text-align: center;
    background: linear-gradient(#df5f09, #b85f0c);
}

img{
    height: 300px;
}
h1{
    font-size: 100px;
    color: white;
}
.hola{
    height: 100px;
    width: 100px;
    background-color: #ff0015;
    display: grid;
    gap: 20px;
    grid-row: auto;
}